@import '@/styles/rootColor.scss';
  
  .input {
    font-family: Quicksand;
    font-weight: bolder;
    border-radius: 0.25rem;
    border: 1px solid #bdbdbd;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    &__text {
      font-family: Quicksand;
      border: none;
      width: 100%;
      &:focus {
        outline: none;
      }
    }

    &__right-icon {
      color: $--secondary;
      margin-right: 0.5rem;
      padding-top: 0.125rem;
    }

    .main-content{
      display: flex;
      width: 100%;
    }
  }