.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  justify-content: center;
}
.login-labelLogin {
  text-align: center;
}
.login-form {
  min-width: 450px;
  background-color: rgba(250, 250, 250, 0.9);
  padding: 20px;
  margin: 20px 0 60px 0;
}
.login-form-button {
  width: 100%;
  background: #2f80ed !important;
  text-align: center;
}
.login-form-forgot {
  text-align: center;
  padding: 20px 0;
  color: black;
  border-bottom: 1.5px solid #e0e0e0;
}

.login-regitser {
  text-align: center;
  margin: 20px 0;
}

.login__footer p {
  margin-bottom: 0 !important;
  line-height: 40px;
}
.login__errorMessage {
  color: red;
  text-align: center;
  font-size: 1rem;
  transition: all 0.3s ease;
}
