.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  justify-content: center;
}
.register__labelRegister {
  text-align: center;
}
.register__labelInput {
  margin-bottom: 5px;
  display: inline-block;
  min-width: 50%;
  font-weight: 500;
  color: #595959;
}
.register__form {
  width: 450px;
  //background-color: rgba(250, 250, 250, 0.8);
  padding: 20px;
  margin: 20px 0 60px 0;

  .ant-form-item-control-input {
    min-height: 50px;

    .ant-form-item-control-input-content {
      height: 50px;
      display: flex;
      justify-content: space-between;

      .ant-input-affix-wrapper {
        height: 50px;
        border-radius: 6px;
      }

      .ant-input {
        //height: 50px;
        border-radius: 6px;
      }
    }
  }
}

.register__button {
  width: 100%;
  height: 50px !important;

  margin-top: 24px;

  background: #2f80ed !important;
  text-align: center;

  span {
    font-size: 16px;
    font-weight: 600;
  }
}
.register__login {
  font-weight: 500;
  padding-top: 24px;
  text-align: center;
  color: #8C8C8C;

  a {
    text-decoration: underline;
  }
}
.register__errorMessage {
  color: red;
  text-align: center;
  font-size: 1rem;
}
